{{ define "header" }}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Guess the number</title>
    <link type="text/css" rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div class="elements" id="topBar">
        <ul>
            <li><a href="/" class="topBarBatton">Home</a></li>
            <li><a href="/start" class="topBarBatton">New game</a></li>
        </ul>
    </div>  

{{ end }}